@import url('https://fonts.googleapis.com/css?family=Roboto');

.back_button {
	background-color: #52570f;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

a {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
a:visited {
	color: #00E;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-image: url("img/beach.jpg");
	background-size: cover;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px;
	text-align: center;
	font-size: 14px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.right-aligned {
	float: right;
}
