h4 {
	font-size: 12px;
}

.right-aligned {
	float: right;
}

td.font_responsive{
	background-color: #ffffff;
}
th.font_responsive{
	background-color: #8a8080;
}

.ec-event-time-home {
	flex-shrink: 0;
	margin: 0 0 1px;
	overflow: hidden;
	white-space: nowrap;

	background-image: url("../img/home-black.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px;
	background-position: 28px 0px;
}

.left,
.right {
	float: left;
	width: 20%;
	/* The width is 20%, by default */
}

.main {
	float: left;
	width: 60%;
	/* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

	.left,
	.main,
	.right {
		width: 100%;
		/* The width is 100%, when the viewport is 800px or smaller */
	}
}

.table_noborder {
	border: none;
}

.table_noborder_simple {
	border: none;
	border: 0px solid black;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 0px;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.racha {
	padding: 0 2px 0 2px;
	color: white;
	font-size: 14px;
	font-weight: bolder;
	border-radius: 5px;
	margin-right: 2px;
}

.table_wrapper {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

.partidos table,
th,
td {
	border: 1px solid black;
	white-space: nowrap;
	border-radius: 2px;
	vertical-align: middle;
}

.portada {
	border: none;
	border-radius: 2px;
	white-space: nowrap;
	vertical-align: middle;
	border-spacing: 3px;
	margin: 4px 2px;
}

.favoritos {
	border: none;
	border-radius: 2px;
	white-space: nowrap;
	vertical-align: middle;
	border-spacing: 0px;
	margin: 4px 2px;
}

.ntype {
	font-size: 15px !important
}

.back_button {
	background-color: #52570f;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.ntype2 {
	font-size: 11px !important;
	font-weight: 500 !important
}

.escudo_widget {
	width: 20px !important;
	height: 20px;
}

.home_widget {
	width: 15px !important;
	height: 15px;
}

.escudo_logo {
	width: 60px !important;
}

.escudo_logo_medio {
	width: 30px !important;
}

.campo_img {
	width: 256px !important;
}



/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #3b77a0;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #3b77a0;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 8px;
	border: 1px solid #ccc;
	border-top: none;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	/* 100% Full-height */
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	z-index: 5001;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	background-color: #111;
	/* Black*/
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 40px;
	/* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 5px 5px 8px 8px;
	text-decoration: none;
	font-size: 22px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 8px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}


/* creating css loader */
#pt-5 {
	display: flex;
	justify-content: center;
	/* Centers horizontally */
	align-items: center;
	/* Centers vertically */
	height: 100vh;
}

#loading {
	visibility: hidden;
	width: 2rem;
	height: 2rem;
	border: 5px solid #f3f3f3;
	border-top: 6px solid #9c41f2;
	border-left: 6px solid #9c41f2;
	border-radius: 100%;
	animation: spin 1s infinite linear;
	transform: scale(1.2);
	transform-origin: center center;
	display: inline-block;

	position: absolute;
	top: 8px;
	left: 220px;
}

#loading.display {
	visibility: visible;
}

/* Responsive adjustments for small screens */
@media (max-width: 600px) {
	.float_center {
		width: 80px;
		height: 80px;
		border-width: 12px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* Zoom-in effect on load */
@keyframes zoomIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.float_center {
	background-color: rgb(3, 3, 3);

	position: absolute;
	top: 10px;
	left: 10px;

}

#spinner-div {
	display: none;

	text-align: center;
	background-color: rgba(199, 195, 207, 0.8);
	z-index: 1;

	/* transform: translate(-50%, -50%); */
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}